<%- include('../partials/header') %>
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>New World First</title>
</head>

<body>
	<h2>Enter a New World First</h2>
	<form action="/worldfirst" method="POST">
		<label>Boss:
            <input type="text" name="boss">
		</label><br>
		<label>Guild:
			<input type="text" name="guild">
		</label><br>
		<label>Kill Date
			<input type="text" name="killDate">
		</label><br>
		<label>Attempts
			<input type="text" name="attempts">
		</label><br>
		<!-- <label>Comment
			<input type="text" name="newComment">
		</label><br> -->
		<input type="submit" value="New World First">
	</form>
</body>

</html>
<%- include('../partials/footer') %>